  --------------------------------------------------------
    Project Code :Python for Data Analysis
    Participants : Pretik C P, Deepak Nayak
    ME Big Data, SOIS
  -----------------------------------------------------------

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nvd3 import multiBarChart,multiBarHorizontalChart
import nvd3
nvd3.ipynb.initialize_javascript()
from IPython.core.display import display, HTML
get_ipython().magic('matplotlib nbagg')

loaded nvd3 IPython extension
run nvd3.ipynb.initialize_javascript() to set up the notebook
help(nvd3.ipynb.initialize_javascript) for options

# Reading xlsx file

In [2]:
df = pd.read_excel('cod.xlsx')
#df

# Creating DataFrames

In [3]:
df1 = pd.DataFrame(df)
#df1

# Converting to csv file

In [4]:
df1.to_csv('cod_data.csv')

In [5]:
csv_file = pd.read_csv('cod_data.csv')
#list(csv_file,)

# Deaths of children Under 5 year

In [6]:
selected_columns_under5 = csv_file[['ISO_Code',
'CountryName',
 'Year','Preterm',
 'Pertussis',
 'Intrapartum',
 'Sepsis',
 'Tetanus',
 'Congenital',
 'Pneumonia',
 'Diarrhoea',
 'Malaria',
 'Aids',
 'Measles',
 'Injury',
 'Meningitis']]

In [7]:
list(selected_columns_under5)

['ISO_Code',
 'CountryName',
 'Year',
 'Preterm',
 'Pertussis',
 'Intrapartum',
 'Sepsis',
 'Tetanus',
 'Congenital',
 'Pneumonia',
 'Diarrhoea',
 'Malaria',
 'Aids',
 'Measles',
 'Injury',
 'Meningitis']

In [8]:
under_five = pd.DataFrame(selected_columns_under5)

In [9]:
#under_five

# New born(first month)

In [10]:
selected_columns_2 = csv_file[['ISO_Code',
 'CountryName',
 'Year','Pneumonia .1',
 'Preterm ',
 'Intrapartum ',
 'Sepis ',
 'Tetanus ',
 'Congenital ',
 'Diarrheoea ']]

In [11]:
list(selected_columns_2)

['ISO_Code',
 'CountryName',
 'Year',
 'Pneumonia .1',
 'Preterm ',
 'Intrapartum ',
 'Sepis ',
 'Tetanus ',
 'Congenital ',
 'Diarrheoea ']

In [12]:
new_born_first_month = pd.DataFrame(selected_columns_2)

In [13]:
#new_born_first_month

# Death of childrens in Newborn

In [14]:
selected_columns_3 = csv_file[['ISO_Code',
 'CountryName',
 'Year','Pneumonia (Newborn)',
 'Preterm (Newborn)',
 'Intrapartum (Newborn)',
 'Sepis (Newborn)',
 'Tetanus (Newborn)',
 'Congenital (Newborn)',
 'Diarrheoea (Newborn)']]

In [15]:
list(selected_columns_3)

['ISO_Code',
 'CountryName',
 'Year',
 'Pneumonia (Newborn)',
 'Preterm (Newborn)',
 'Intrapartum (Newborn)',
 'Sepis (Newborn)',
 'Tetanus (Newborn)',
 'Congenital (Newborn)',
 'Diarrheoea (Newborn)']

In [16]:
new_born = pd.DataFrame(selected_columns_3)

In [17]:
#new_born

# Death in 1-59 months

In [18]:
selected_columns_4 = csv_file[['ISO_Code',
 'CountryName',
 'Year','Pneumonia ',
 'Diarrhoea ',
 'Malaria ',
 'AIDS ',
 'Measles ',
 'Injuries ',
 'Meningitis ']]

In [19]:
one_to_59 = pd.DataFrame(selected_columns_4)

In [20]:
#one_to_59

### List of dataframes

In [21]:
#under_five
#new_born_first_month
#new_born
#one_to_59

# --------------Under_Five-------------------

# Creating a list of Dveloping Countries

In [22]:
a = ['AFG','ALB','DZA','AGO','ARG','ARM','AZE','BGD','BLR','BLZ','BEN','BTN','BOL','BIH','BWA','BRA','BGR','BFA',
     'BDI','KHM','CMR','CAF','TCD','CHN','COL','COM','COG','CRI','CIV','CUB','DJI','DMA','DOM','ECU','EGY','SLV','ERI',
     'ETH','FJI','GAB','GMB','GEO','GHA','GRD','GTM','GIN','GNB','GUY','HTI','HUN','IND','IDN','IRN','IRQ','JAM','JOR',
     'KAZ','KEN','KIR','KGZ','LAO','LBN','LSO','LBR','LBY','MDG','MYS','MDV','MLI','MHL','MRT','MUS','MEX','MNG','MNE',
     'MAR','MOZ','MMR','NAM','NPL','NIC','NER','NGA','PAK','PLW','PAN','PNG','PRY','PER','PHL','ROU','RUS','RWA','WSM',
     'STP','SEN','SRB','SYC','SLE','SLB','SOM','ZAF','SSD','LKA','SDN','SUR','SWZ','SYR','TJK','THA','TLS','TGO','TON',
     'TUN','TUR','TKM','TUV','UGA','UKR','UZB','VUT','VEN','VNM','YEM','ZMB','ZWE']

# DataFrame for Developing countries

In [23]:
developing_countries = under_five.loc[under_five['ISO_Code'].isin(a)]
developing_countries.reset_index(drop=True)

,ISO_Code,CountryName,Year,Preterm,Pertussis,Intrapartum,Sepsis,Tetanus,Congenital,Pneumonia,Diarrhoea,Malaria,Aids,Measles,Injury,Meningitis
0,AFG,Afghanistan,2015,14.6,1.2,11.0,7.0,0.8,4.9,19.8,12.4,0.0,0.0,1.0,7.3,2.5
1,ALB,Albania,2015,20.8,0.7,7.5,2.7,0.4,27.5,11.9,1.2,0.0,0.3,0.0,8.7,1.9
2,DZA,Algeria,2015,21.9,0.8,13.7,8.8,0.2,16.3,12.9,5.0,0.0,0.1,0.1,6.2,0.8
3,AGO,Angola,2015,12.5,0.5,10.8,5.0,1.2,5.8,17.4,14.7,6.3,1.2,0.3,5.3,1.4
4,ARG,Argentina,2015,25.7,0.6,3.9,4.9,0.0,28.1,7.4,1.3,0.0,0.1,0.0,7.8,1.3
5,ARM,Armenia,2015,23.4,0.6,8.5,3.5,0.0,26.4,10.7,1.3,0.0,0.2,0.0,8.5,1.7
6,AZE,Azerbaijan,2015,24.3,0.5,13.6,6.9,0.2,14.1,12.2,5.9,0.0,0.1,0.0,6.2,0.6
7,BGD,Bangladesh,2015,19.8,0.4,14.9,12.4,0.3,9.3,14.5,6.0,0.2,0.0,1.9,6.0,1.5
8,BLR,Belarus,2015,20.7,1.4,7.1,2.4,0.0,35.4,6.1,0.6,0.0,0.1,0.0,8.1,1.3
9,BLZ,Belize,2015,17.3,0.0,8.0,7.6,0.0,23.9,8.3,3.1,0.0,1.2,0.0,7.0,1.5
10,BEN,Benin,2015,12.9,1.0,9.4,7.0,0.2,5.1,15.4,10.8,11.6,1.1,0.7,5.7,2.4
11,BTN,Bhutan,2015,21.9,0.4,12.0,9.0,0.2,11.1,14.6,6.2,0.0,1.6,0.0,7.5,1.2
12,BOL,Bolivia,2015,18.7,2.9,14.5,6.5,0.3,14.6,13.9,6.1,0.0,0.3,0.0,7.5,1.0
13,BIH,Bosnia & Herzegovina,2015,31.4,0.6,9.8,4.9,0.0,32.5,5.1,0.4,0.0,0.1,0.8,2.9,0.5
14,BWA,Botswana,2015,21.6,0.3,12.2,7.0,0.2,11.1,12.4,6.3,0.0,5.1,0.7,6.4,0.6
15,BRA,Brazil,2015,18.9,0.2,9.3,7.8,0.0,22.1,9.1,2.5,0.0,0.2,0.0,6.1,1.2
16,BGR,Bulgaria,2015,25.5,0.0,9.8,2.5,0.0,25.0,17.0,1.1,0.0,0.0,0.4,5.2,1.8
17,BFA,Burkina Faso,2015,11.2,1.0,9.0,6.8,0.2,4.3,12.8,8.2,21.4,0.6,2.3,5.8,2.0
18,BDI,Burundi,2015,12.9,1.1,12.0,6.0,0.3,5.6,16.0,10.1,6.5,0.9,0.1,7.9,1.8
19,KHM,Cambodia,2015,16.4,2.9,13.0,8.7,0.2,10.7,16.5,6.7,0.3,0.5,0.0,8.1,1.8
20,CMR,Cameroon,2015,10.4,1.1,10.8,5.3,0.3,6.2,15.5,11.3,9.9,4.0,0.2,6.9,1.8
21,CAF,Central African Republic,2015,10.8,0.9,11.9,5.1,1.3,4.0,16.0,10.4,15.3,3.4,0.9,4.4,3.5
22,TCD,Chad,2015,10.1,0.9,10.4,4.6,1.2,4.2,23.3,13.7,6.0,2.1,0.2,5.6,5.0
23,CHN,China,2015,18.3,0.8,14.3,2.9,0.1,17.9,12.1,2.8,0.0,0.2,0.3,16.6,1.4
24,COL,Colombia,2015,21.0,0.3,5.7,7.2,0.0,24.8,10.2,2.1,0.1,0.2,0.0,6.7,1.2
25,COM,Comoros,2015,19.3,1.5,12.2,7.1,0.5,6.3,15.8,7.5,7.9,1.1,0.0,5.1,2.1
26,COG,Congo,2015,15.6,2.0,11.2,5.9,0.2,9.6,13.4,7.1,5.6,6.3,0.7,6.8,1.0
27,CRI,Costa Rica,2015,27.7,0.1,7.6,1.4,0.0,38.8,5.0,1.0,0.0,0.0,0.0,3.8,1.0
28,CIV,Cote d Ivoire,2015,14.5,0.9,12.2,8.4,0.6,4.7,14.5,7.6,16.7,2.1,0.2,4.3,2.1
29,CUB,Cuba,2015,16.8,0.0,7.7,4.6,0.0,23.5,11.2,1.3,0.0,0.1,0.0,8.5,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,SRB,Serbia,2000,31.2,0.0,16.4,4.7,0.0,26.4,5.4,0.9,0.0,0.3,0.0,4.8,1.4
223,SYC,Seychelles,2000,27.3,0.0,9.4,6.3,0.0,25.3,6.6,1.2,0.0,0.0,0.0,8.3,1.0
224,SLE,Sierra Leone,2000,7.0,0.5,5.6,3.0,1.0,2.5,12.8,13.6,26.0,0.5,15.8,2.0,2.6
225,SLB,Solomon Islands,2000,13.5,2.9,12.3,6.5,0.2,9.7,16.4,7.7,12.1,0.0,0.0,5.6,2.9
226,SOM,Somalia,2000,7.4,0.7,8.2,2.9,1.7,2.8,17.7,15.7,1.1,0.4,26.2,3.3,3.9
227,ZAF,South Africa,2000,9.5,0.2,5.7,2.7,0.0,4.8,14.6,11.7,0.2,28.5,0.6,5.0,1.3
228,SSD,South Sudan,2000,8.5,1.1,10.9,3.2,4.8,3.3,18.8,15.9,12.8,1.5,3.4,3.3,4.4
229,LKA,Sri Lanka,2000,22.8,0.6,8.4,4.0,0.5,23.6,10.1,4.1,0.3,0.0,0.0,6.1,0.9
230,SDN,Sudan,2000,13.3,1.2,9.8,5.1,0.8,3.6,21.1,15.0,2.2,0.1,5.6,5.1,5.0
231,SUR,Suriname,2000,20.9,0.0,7.9,14.7,0.0,12.2,8.2,6.6,3.0,1.2,0.0,8.2,2.1
232,SWZ,Swaziland,2000,6.8,0.8,6.0,2.3,0.1,4.3,15.9,12.3,0.0,35.2,0.0,3.6,2.0
233,SYR,Syria,2000,22.6,0.9,10.9,3.6,0.6,20.7,14.4,9.5,0.0,0.0,0.1,4.2,0.6
234,TJK,Tajikistan,2000,13.8,0.2,10.1,3.9,0.5,5.5,22.6,15.5,0.0,0.3,0.0,6.0,4.5
235,THA,Thailand,2000,23.3,0.4,8.1,5.6,0.4,20.4,13.0,4.8,1.0,3.5,0.2,4.6,1.1
236,TLS,Timor Leste,2000,12.3,0.9,11.1,4.3,1.5,3.6,22.5,16.1,7.2,0.0,0.0,5.5,3.3
237,TGO,Togo,2000,9.3,0.9,9.1,4.9,0.7,2.8,11.8,8.4,26.9,4.0,10.2,2.5,2.1
238,TON,Tonga,2000,19.5,0.0,6.0,4.6,0.0,23.6,12.8,4.9,0.0,0.0,0.0,8.9,1.7
239,TUN,Tunisia,2000,24.6,0.3,11.5,3.4,1.3,17.7,15.2,5.5,0.0,0.0,0.0,4.9,0.7
240,TUR,Turkey,2000,24.0,0.0,7.2,3.9,0.0,24.7,8.1,1.0,0.0,0.0,0.0,3.3,0.7
241,TKM,Turkmenistan,2000,16.3,0.2,10.4,3.7,0.4,7.6,21.1,14.3,0.0,0.0,0.0,6.0,2.8
242,TUV,Tuvalu,2000,26.5,0.0,11.3,4.7,0.0,13.0,17.9,6.0,0.0,0.0,0.0,6.3,1.5
243,UGA,Uganda,2000,7.5,0.8,7.4,3.5,0.3,2.6,13.2,10.1,27.2,7.5,7.0,2.8,2.7
244,UKR,Ukraine,2000,25.8,0.5,7.9,4.0,0.0,22.8,14.7,2.0,0.0,3.7,0.2,6.5,1.6
245,UZB,Uzbekistan,2000,19.6,0.3,12.2,4.5,0.5,9.2,18.7,11.0,0.0,0.2,0.0,5.3,2.9
246,VUT,Vanuatu,2000,17.4,1.8,8.3,2.9,0.7,15.7,15.6,15.6,7.9,0.0,0.0,5.2,1.4
247,VEN,Venezuela,2000,25.2,0.5,9.0,9.7,0.0,14.9,8.1,10.4,0.1,0.2,0.0,6.5,1.9
248,VNM,Vietnam,2000,18.0,0.2,6.7,3.4,0.4,15.1,19.2,13.9,0.2,0.2,6.7,3.4,1.5
249,YEM,Yemen,2000,14.2,1.2,9.8,6.2,1.3,3.7,21.9,14.8,1.2,0.0,5.2,5.6,3.0
250,ZMB,Zambia,2000,6.8,0.6,7.7,3.8,0.3,3.0,16.5,14.4,15.0,11.2,4.8,3.3,2.8
251,ZWE,Zimbabwe,2000,7.7,0.2,6.7,2.7,0.2,3.3,12.3,8.7,3.4,41.2,0.3,2.9,1.9

# DataFrame for Developed Countries

In [24]:
developed_countries = under_five.loc[~under_five['ISO_Code'].isin(a)]
developed_countries.reset_index(drop=True)

,ISO_Code,CountryName,Year,Preterm,Pertussis,Intrapartum,Sepsis,Tetanus,Congenital,Pneumonia,Diarrhoea,Malaria,Aids,Measles,Injury,Meningitis
0,AND,Andorra,2015,24.3,0.0,7.4,2.9,0.0,36.0,2.7,0.1,0.0,0.0,0.0,6.1,0.8
1,ATG,Antigua & Barbuda,2015,26.5,0.0,14.2,0.0,0.0,21.6,3.2,0.0,0.0,2.6,0.0,4.5,0.0
2,AUS,Australia,2015,19.7,0.1,10.4,1.2,0.0,28.0,2.7,0.3,0.1,0.0,0.0,7.7,0.9
3,AUT,Austria,2015,23.5,0.0,6.5,1.6,0.0,33.6,1.5,0.4,0.0,0.1,0.0,4.9,1.8
4,BHS,Bahamas,2015,28.2,0.0,8.3,3.9,0.0,11.7,13.0,0.6,0.0,0.9,0.0,9.9,0.6
5,BHR,Bahrain,2015,21.9,0.0,2.9,0.6,0.0,36.1,2.3,0.4,0.0,0.4,0.0,5.6,1.2
6,BRB,Barbados,2015,19.1,0.0,12.7,13.1,0.0,18.8,2.6,0.0,0.0,0.0,0.0,6.6,0.0
7,BEL,Belgium,2015,16.3,0.3,9.1,2.0,0.0,29.4,1.6,0.1,0.0,0.0,0.0,9.7,1.6
8,BRN,Brunei,2015,18.1,0.0,8.7,8.0,0.0,25.2,3.7,2.3,0.0,0.0,0.0,2.8,0.3
9,CAN,Canada,2015,27.1,0.2,9.2,3.2,0.0,31.4,2.1,0.3,0.0,0.0,0.0,6.7,1.0
10,CPV,Cape Verde,2015,20.9,0.7,8.5,4.5,0.4,20.9,13.7,5.3,0.0,0.7,0.0,4.8,1.3
11,CHL,Chile,2015,26.5,0.5,4.2,2.7,0.0,39.9,3.5,0.1,0.0,0.1,0.0,6.5,0.9
12,COD,Congo DR,2015,12.6,1.0,9.9,5.0,0.4,4.8,15.2,10.5,11.9,1.1,3.1,5.7,2.6
13,COK,Cook Islands,2015,28.2,0.0,11.2,3.8,0.0,29.0,4.8,0.7,0.0,0.0,0.0,5.5,0.8
14,HRV,Croatia,2015,15.6,0.0,7.2,3.4,0.0,27.3,2.7,0.0,0.0,0.0,0.0,4.5,2.5
15,CYP,Cyprus,2015,24.8,1.2,8.4,3.3,0.0,35.8,2.6,0.2,0.0,0.1,0.0,5.0,0.7
16,CZE,Czech Republic,2015,25.9,0.0,10.1,4.6,0.0,22.6,6.0,1.0,0.0,0.0,0.0,8.3,1.5
17,DNK,Denmark,2015,38.4,0.0,8.3,1.4,0.0,24.7,1.2,0.6,0.0,0.0,0.0,4.1,0.9
18,GNQ,Equatorial Guinea,2015,13.1,1.3,11.3,4.4,0.5,6.1,15.8,7.5,8.6,4.5,9.2,4.5,1.1
19,EST,Estonia,2015,10.8,0.0,12.4,8.3,0.0,28.0,5.6,0.5,0.0,0.0,0.0,16.4,2.1
20,FSM,Federated States of Micronesia,2015,19.5,0.0,13.8,7.0,0.2,12.4,14.6,6.2,0.0,0.0,0.0,7.0,1.4
21,FIN,Finland,2015,20.0,0.0,9.0,2.8,0.0,31.9,2.6,0.0,0.0,0.0,0.0,7.6,0.7
22,FRA,France,2015,17.6,0.0,10.1,3.0,0.0,26.8,1.8,1.2,0.0,0.1,0.0,7.3,1.6
23,DEU,Germany,2015,28.0,0.0,6.8,2.1,0.0,31.2,1.9,0.4,0.0,0.0,0.0,5.2,0.8
24,GRC,Greece,2015,34.0,0.0,5.4,0.5,0.0,43.6,3.3,0.0,0.0,0.0,0.0,4.0,0.4
25,HND,Honduras,2015,19.5,1.1,7.7,7.8,0.6,18.9,11.2,7.8,0.0,1.6,0.0,3.6,1.0
26,ISL,Iceland,2015,28.8,0.0,4.5,7.3,0.0,14.5,0.0,0.0,0.0,0.0,0.0,2.1,0.0
27,IRL,Ireland,2015,24.7,0.0,6.6,2.3,0.0,43.1,2.0,0.3,0.0,0.0,0.0,3.9,1.8
28,ISR,Israel,2015,21.5,0.0,3.9,2.7,0.0,35.7,1.8,0.5,0.0,0.0,0.0,6.6,1.2
29,ITA,Italy,2015,26.2,0.0,7.5,3.4,0.0,26.9,1.5,0.2,0.0,0.0,0.0,3.4,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,MWI,Malawi,2000,7.5,0.6,7.0,3.8,0.3,2.9,16.2,13.9,15.7,14.6,0.2,3.1,3.9
107,MLT,Malta,2000,36.6,0.0,6.7,3.1,0.0,20.6,1.5,0.0,0.0,0.0,0.0,4.8,5.2
108,MDA,Moldova,2000,5.9,0.0,13.5,8.2,0.0,25.7,26.3,1.4,0.0,0.0,0.0,10.4,1.7
109,MCO,Monaco,2000,38.8,0.0,13.0,4.0,0.0,32.4,0.4,0.0,0.0,0.0,0.0,0.5,0.0
110,NRU,Nauru,2000,22.1,0.0,13.9,6.5,0.5,10.9,16.4,8.9,0.0,0.0,0.0,5.3,1.7
111,NLD,Netherlands,2000,21.2,0.0,11.8,3.3,0.0,35.6,2.3,0.0,0.0,0.0,0.0,5.8,2.9
112,NZL,New Zealand,2000,22.4,0.4,6.4,1.1,0.0,28.8,5.7,0.4,0.0,0.0,0.0,12.2,4.2
113,NIU,Niue,2000,4.8,0.0,2.6,0.0,0.0,21.4,20.9,4.0,0.0,0.0,0.0,13.6,4.2
114,NOR,Norway,2000,12.3,0.0,10.1,1.1,0.0,37.1,3.4,0.5,0.0,0.0,0.0,6.2,5.0
115,OMN,Oman,2000,18.1,1.0,8.3,2.8,0.0,25.2,11.1,2.2,0.0,0.4,0.0,9.4,0.9
116,POL,Poland,2000,25.9,0.0,9.2,5.8,0.0,36.3,5.0,0.2,0.0,0.0,0.0,6.1,1.1
117,PRT,Portugal,2000,18.3,0.1,6.4,2.4,0.0,31.5,3.7,0.2,0.2,0.2,0.0,9.5,4.4
118,QAT,Qatar,2000,25.0,0.7,9.1,2.6,0.0,25.5,5.2,0.8,0.0,0.1,0.0,9.8,0.8
119,KNA,Saint Kitts & Nevis,2000,35.1,0.0,19.1,3.7,0.0,12.3,2.6,2.6,0.0,0.0,0.0,1.7,0.0
120,LCA,Saint Lucia,2000,30.9,0.0,10.4,10.5,0.0,13.7,4.0,2.3,0.0,2.2,0.0,5.7,0.8
121,SMR,San Marino,2000,3.3,0.0,4.1,0.0,0.0,30.5,5.2,0.2,0.0,0.0,0.0,18.8,3.0
122,SAU,Saudi Arabia,2000,22.9,0.8,10.4,3.9,0.0,21.4,9.8,2.6,0.0,0.0,0.1,9.0,0.8
123,SGP,Singapore,2000,20.3,0.0,3.6,1.7,0.0,33.1,8.8,0.0,0.0,0.0,0.0,6.3,4.0
124,SVK,Slovakia,2000,31.4,0.0,4.9,1.5,0.0,27.9,11.4,1.3,0.0,0.0,0.0,5.2,1.5
125,SVN,Slovenia,2000,32.2,0.0,7.9,4.9,0.0,38.6,0.0,0.0,0.0,0.0,0.0,6.6,0.0
126,ESP,Spain,2000,22.8,0.1,8.0,5.2,0.0,34.9,2.0,0.2,0.0,0.1,0.0,5.5,2.9
127,VCT,St Vincent & the Grenadines,2000,35.8,0.0,11.2,3.5,0.0,16.1,3.3,3.4,0.0,3.2,0.0,6.8,1.1
128,SWE,Sweden,2000,16.5,0.4,9.0,4.8,0.0,45.1,1.8,0.0,0.0,0.0,0.0,4.2,1.3
129,CHE,Switzerland,2000,25.8,0.0,8.1,2.7,0.0,30.9,1.5,0.3,0.0,0.0,0.0,8.0,2.0
130,TZA,Tanzania,2000,7.9,0.8,9.2,4.5,0.4,3.3,18.0,13.6,12.7,9.9,2.0,3.9,3.6
131,TTO,Trinidad & Tobago,2000,37.5,0.0,26.6,2.8,0.0,12.6,3.2,1.0,0.0,3.0,0.0,2.5,1.2
132,ARE,United Arab Emirates,2000,25.2,0.9,9.0,2.2,0.0,26.3,5.4,0.8,0.0,0.0,0.0,8.7,0.8
133,GBR,United Kingdom,2000,35.0,0.1,6.2,2.7,0.0,23.7,4.1,1.3,0.0,0.1,0.0,5.0,3.0
134,USA,United States of America,2000,27.4,0.0,4.8,2.7,0.0,25.3,3.1,2.0,0.0,0.1,0.0,11.4,0.9
135,URY,Uruguay,2000,21.9,0.0,7.4,6.5,0.0,26.0,8.8,3.1,0.0,0.4,0.0,7.4,1.2

# Calculating aggr value for diseases (Developed)

In [25]:
Preterm_developed = developed_countries['Preterm']
Preterm_developed = Preterm_developed.mean()
Preterm_developed

23.030882352941184

In [26]:
Intrapartum_developed = developed_countries['Intrapartum']
Intrapartum_developed = Intrapartum_developed.mean()
Intrapartum_developed

9.029411764705884

In [27]:
Sepsis_developed = developed_countries['Sepsis']
Sepsis_developed = Sepsis_developed.mean()
Sepsis_developed

3.5823529411764707

In [28]:
Congenital_developed = developed_countries['Congenital']
Congenital_developed = Congenital_developed.mean()
Congenital_developed

26.03088235294117

In [29]:
Pneumonia_developed = developed_countries['Pneumonia']
Pneumonia_developed = Pneumonia_developed.mean()
Pneumonia_developed

6.061029411764706

In [30]:
Injury_developed = developed_countries['Injury']
Injury_developed = Injury_developed.mean()
Injury_developed

7.263970588235293

In [31]:
Diarrhoea_developed = developed_countries['Diarrhoea']
Diarrhoea_developed = Diarrhoea_developed.mean()
Diarrhoea_developed

1.8720588235294124

# Calculating aggr value for diseases (developing)

In [32]:
Preterm_developing = developing_countries['Preterm']
Preterm_developing = Preterm_developing.mean()
Preterm_developing

18.154365079365085

In [33]:
Intrapartum_developing = developing_countries['Intrapartum']
Intrapartum_developing = Intrapartum_developing.mean()
Intrapartum_developing

10.483730158730165

In [34]:
Sepsis_developing = developing_countries['Sepsis']
Sepsis_developing = Sepsis_developing.mean()
Sepsis_developing

5.587301587301585

In [35]:
Congenital_developing = developing_countries['Congenital']
Congenital_developing = Congenital_developing.mean()
Congenital_developing

12.968650793650797

In [36]:
Pneumonia_developing = developing_countries['Pneumonia']
Pneumonia_developing = Pneumonia_developing.mean()
Pneumonia_developing

14.255555555555555

In [37]:
Injury_developing = developing_countries['Injury']
Injury_developing = Injury_developing.mean()
Injury_developing

6.099999999999998

In [38]:

Diarrhoea_developing = developing_countries['Diarrhoea']
Diarrhoea_developing = Diarrhoea_developing.mean()
Diarrhoea_developing

7.750000000000002

# Creating a dataframe for aggr values

In [39]:
developed={'preterm':Preterm_developed}
developing={'preterm':Preterm_developing}

In [40]:
d=pd.Series(developed)
d=pd.DataFrame(d)
d.columns=['Developed']
d

         Developed
preterm  23.030882

In [41]:
d0 = pd.Series(developing)
d0= pd.DataFrame(d0)
d0.columns = ['Developing']
d0

         Developing
preterm   18.154365

In [42]:
res = pd.concat([d, d0], axis=1, join_axes=[d.index])
res

         Developed  Developing
preterm  23.030882   18.154365

In [43]:
developed={'Intrapartum':Intrapartum_developed}
developing={'Intrapartum':Intrapartum_developing}

In [44]:
d1=pd.Series(developed)
d1=pd.DataFrame(d1)
d1.columns=['Developed']
d1

             Developed
Intrapartum   9.029412

In [45]:
d11 = pd.Series(developing)
d11 = pd.DataFrame(d11)
d11.columns = ['Developing']
d11

             Developing
Intrapartum    10.48373

In [46]:
res1 = pd.concat([d1, d11], axis=1, join_axes=[d1.index])
res1

             Developed  Developing
Intrapartum   9.029412    10.48373

In [47]:
developed={'Sepsis':Sepsis_developed}
developing={'Sepsis':Sepsis_developing}

In [48]:
d2=pd.Series(developed)
d2=pd.DataFrame(d2)
d2.columns=['Developed']
d2

        Developed
Sepsis   3.582353

In [49]:
d22 = pd.Series(developing)
d22 = pd.DataFrame(d22)
d22.columns = ['Developing']
d22

        Developing
Sepsis    5.587302

In [50]:
res2 = pd.concat([d2, d22], axis=1, join_axes=[d2.index])
res2

        Developed  Developing
Sepsis   3.582353    5.587302

In [51]:
developed={'Congenital':Congenital_developed}
developing={'Congenital':Congenital_developing}

In [52]:
d3=pd.Series(developed)
d3=pd.DataFrame(d3)
d3.columns=['Developed']
d3

            Developed
Congenital  26.030882

In [53]:
d33 = pd.Series(developing)
d33 = pd.DataFrame(d33)
d33.columns = ['Developing']
d33

            Developing
Congenital   12.968651

In [54]:
res3 = pd.concat([d3, d33], axis=1, join_axes=[d3.index])
res3

            Developed  Developing
Congenital  26.030882   12.968651

In [55]:
developed={'Pneumonia':Pneumonia_developed}
developing={'Pneumonia':Pneumonia_developing}

In [56]:
d4=pd.Series(developed)
d4=pd.DataFrame(d4)
d4.columns=['Developed']
d4

           Developed
Pneumonia   6.061029

In [57]:
d44 = pd.Series(developing)
d44 = pd.DataFrame(d44)
d44.columns = ['Developing']
d44

           Developing
Pneumonia   14.255556

In [58]:
res4 = pd.concat([d4, d44], axis=1, join_axes=[d4.index])
res4

           Developed  Developing
Pneumonia   6.061029   14.255556

In [59]:
developed={'Injury':Injury_developed}
developing={'Injury':Injury_developing}

In [60]:
d5=pd.Series(developed)
d5=pd.DataFrame(d5)
d5.columns=['Developed']
d5

        Developed
Injury   7.263971

In [61]:
d55 = pd.Series(developing)
d55 = pd.DataFrame(d55)
d55.columns = ['Developing']
d55

        Developing
Injury         6.1

In [62]:
res5 = pd.concat([d5, d55], axis=1, join_axes=[d5.index])
res5

        Developed  Developing
Injury   7.263971         6.1

In [63]:
developed={'Diarrhoea':Diarrhoea_developed}
developing={'Diarrhoea':Diarrhoea_developing}

In [64]:
d6=pd.Series(developed)
d6=pd.DataFrame(d6)
d6.columns=['Developed']
d6

           Developed
Diarrhoea   1.872059

In [65]:

d66 = pd.Series(developing)
d66 = pd.DataFrame(d66)
d66.columns = ['Developing']
d66

           Developing
Diarrhoea        7.75

In [66]:
res6 = pd.concat([d6, d66], axis=1, join_axes=[d6.index])
res6

           Developed  Developing
Diarrhoea   1.872059        7.75

In [67]:
frames = [res,res1,res2,res3,res4,res5,res6]

In [68]:
final_frames = pd.concat(frames)
final_frames

             Developed  Developing
preterm      23.030882   18.154365
Intrapartum   9.029412   10.483730
Sepsis        3.582353    5.587302
Congenital   26.030882   12.968651
Pneumonia     6.061029   14.255556
Injury        7.263971    6.100000
Diarrhoea     1.872059    7.750000

In [69]:
chart = multiBarChart(width=1100, height=500, x_axis_format=None)
causes = list(final_frames.index)
Developed = list(final_frames.Developed)
Developing = list(final_frames.Developing)
chart.add_serie(name="Developed", y=Developed, x=causes)
chart.add_serie(name="Developing", y=Developing, x=causes)
chart.buildhtml()
display(HTML(chart.htmlcontent))

In [70]:
#get_ipython().magic('matplotlib nbagg')
#final_frames.plot(kind='barh', title='Variations of the diseases for under 5yrs of age', rot=0, color=(['g','y']),
#                  stacked=True, figsize=(12, 6), edgecolor='b', linewidth=1, fontsize='13', )
#plt.ylabel('<------ Cause of death ------>', fontsize=14, color='b')
#plt.xlabel('<------ Percentage aggregated values ------>', fontsize=14, color='b')

# Dividing developed dataframe according to years

# For 2015

In [71]:
developed_2015 = developed_countries.reset_index(drop=True)
developed_2015 = developed_2015[:68]

In [72]:

Preterm_developed_2015 = developed_2015['Preterm']
Preterm_developed_2015 = Preterm_developed_2015.mean()

In [73]:


Intrapartum_developed_2015 = developed_2015['Intrapartum']
Intrapartum_developed_2015 = Intrapartum_developed_2015.mean()

In [74]:
Sepsis_developed_2015 = developed_2015['Sepsis']
Sepsis_developed_2015 = Sepsis_developed_2015.mean()

In [75]:
Congenital_developed_2015 = developed_2015['Congenital']
Congenital_developed_2015 = Congenital_developed_2015.mean()

In [76]:

Pneumonia_developed_2015 = developed_2015['Pneumonia']
Pneumonia_developed_2015 = Pneumonia_developed_2015.mean()

In [77]:
Injury_developed_2015 = developed_2015['Injury']
Injury_developed_2015 = Injury_developed_2015.mean()

In [78]:

Diarrhoea_developed_2015 = developed_2015['Diarrhoea']
Diarrhoea_developed_2015 = Diarrhoea_developed_2015.mean()

In [79]:

Meningitis_developed_2015 = developed_2015['Meningitis']
Meningitis_developed_2015 = Meningitis_developed_2015.mean()


# For 2000

In [80]:
developed_2000 = developed_countries.reset_index(drop=True)
developed_2000 = developed_2000[68:]

In [81]:
Preterm_developed_2000 = developed_2000['Preterm']
Preterm_developed_2000 = Preterm_developed_2000.mean()

In [82]:
Intrapartum_developed_2000 = developed_2000['Intrapartum']
Intrapartum_developed_2000 = Intrapartum_developed_2000.mean()

In [83]:
Sepsis_developed_2000 = developed_2000['Sepsis']
Sepsis_developed_2000 = Sepsis_developed_2000.mean()

In [84]:
Congenital_developed_2000 = developed_2000['Congenital']
Congenital_developed_2000 = Congenital_developed_2000.mean()

In [85]:
Pneumonia_developed_2000 = developed_2000['Pneumonia']
Pneumonia_developed_2000 = Pneumonia_developed_2000.mean()

In [86]:
Injury_developed_2000 = developed_2000['Injury']
Injury_developed_2000 = Injury_developed_2000.mean()

In [87]:
Diarrhoea_developed_2000 = developed_2000['Diarrhoea']
Diarrhoea_developed_2000 = Diarrhoea_developed_2000.mean()

In [88]:
Meningitis_developed_2000 = developed_2000['Meningitis']
Meningitis_developed_2000 = Meningitis_developed_2000.mean()

# Creating Dataframe for Developed countries (2000&2015)

In [89]:
developed_countries_2000 = {'preterm':Preterm_developed_2000}
developed_countries_2015 = {'preterm':Preterm_developed_2015}
developed_d0 = pd.Series(developed_countries_2000)
developed_d0 = pd.DataFrame(developed_d0)
developed_d0.columns=['2000']
developed_d00 = pd.Series(developed_countries_2015)
developed_d00 = pd.DataFrame(developed_d00)
developed_d00.columns = ['2015']
resd0 = pd.concat([developed_d0, developed_d00], axis=1, join_axes=[developed_d0.index])
resd0

              2000       2015
preterm  22.976471  23.085294

In [90]:
developed_countries_2000 = {'Intrapartum':Intrapartum_developed_2000}
developed_countries_2015 = {'Intrapartum':Intrapartum_developed_2015}
developed_d1 = pd.Series(developed_countries_2000)
developed_d1 = pd.DataFrame(developed_d1)
developed_d1.columns=['2000']
developed_d11 = pd.Series(developed_countries_2015)
developed_d11 = pd.DataFrame(developed_d11)
developed_d11.columns = ['2015']
resd1 = pd.concat([developed_d1, developed_d11], axis=1, join_axes=[developed_d1.index])
resd1

                 2000      2015
Intrapartum  9.272059  8.786765

In [91]:
developed_countries_2000 = {'Sepsis':Sepsis_developed_2000}
developed_countries_2015 = {'Sepsis':Sepsis_developed_2015}
developed_d2 = pd.Series(developed_countries_2000)
developed_d2 = pd.DataFrame(developed_d2)
developed_d2.columns=['2000']
developed_d22 = pd.Series(developed_countries_2015)
developed_d22 = pd.DataFrame(developed_d22)
developed_d22.columns = ['2015']
resd2 = pd.concat([developed_d2, developed_d22], axis=1, join_axes=[developed_d2.index])
resd2

            2000      2015
Sepsis  3.208824  3.955882

In [92]:
developed_countries_2000 = {'Congenital':Congenital_developed_2000}
developed_countries_2015 = {'Congenital':Congenital_developed_2015}
developed_d3 = pd.Series(developed_countries_2000)
developed_d3 = pd.DataFrame(developed_d3)
developed_d3.columns=['2000']
developed_d33 = pd.Series(developed_countries_2015)
developed_d33 = pd.DataFrame(developed_d33)
developed_d33.columns = ['2015']
resd3 = pd.concat([developed_d3, developed_d33], axis=1, join_axes=[developed_d3.index])
resd3

                 2000       2015
Congenital  25.788235  26.273529

In [93]:
developed_countries_2000 = {'Pneumonia':Pneumonia_developed_2000}
developed_countries_2015 = {'Pneumonia':Pneumonia_developed_2015}
developed_d4 = pd.Series(developed_countries_2000)
developed_d4 = pd.DataFrame(developed_d4)
developed_d4.columns=['2000']
developed_d44 = pd.Series(developed_countries_2015)
developed_d44 = pd.DataFrame(developed_d44)
developed_d44.columns = ['2015']
resd4 = pd.concat([developed_d4, developed_d44], axis=1, join_axes=[developed_d4.index])
resd4

               2000      2015
Pneumonia  6.583824  5.538235

In [94]:
developed_countries_2000 = {'Injury':Injury_developed_2000}
developed_countries_2015 = {'Injury':Injury_developed_2015}
developed_d5 = pd.Series(developed_countries_2000)
developed_d5 = pd.DataFrame(developed_d5)
developed_d5.columns=['2000']
developed_d55 = pd.Series(developed_countries_2015)
developed_d55 = pd.DataFrame(developed_d55)
developed_d55.columns = ['2015']
resd5 = pd.concat([developed_d5, developed_d55], axis=1, join_axes=[developed_d5.index])
resd5

            2000   2015
Injury  7.602941  6.925

In [95]:
developed_countries_2000 = {'Diarrhoea':Diarrhoea_developed_2000}
developed_countries_2015 = {'Diarrhoea':Diarrhoea_developed_2015}
developed_d6 = pd.Series(developed_countries_2000)
developed_d6 = pd.DataFrame(developed_d6)
developed_d6.columns=['2000']
developed_d66 = pd.Series(developed_countries_2015)
developed_d66 = pd.DataFrame(developed_d66)
developed_d66.columns = ['2015']
resd6 = pd.concat([developed_d6, developed_d66], axis=1, join_axes=[developed_d6.index])
resd6

               2000      2015
Diarrhoea  2.302941  1.441176

In [96]:
developed_countries_2000 = {'Meningitis':Meningitis_developed_2000}
developed_countries_2015 = {'Meningitis':Meningitis_developed_2015}
developed_d7 = pd.Series(developed_countries_2000)
developed_d7 = pd.DataFrame(developed_d7)
developed_d7.columns=['2000']
developed_d77 = pd.Series(developed_countries_2015)
developed_d77 = pd.DataFrame(developed_d77)
developed_d77.columns = ['2015']
resd7 = pd.concat([developed_d7, developed_d77], axis=1, join_axes=[developed_d7.index])
resd7

                2000      2015
Meningitis  1.905882  1.198529

In [97]:
frames1 = [resd0,resd1,resd2,resd3,resd4,resd5,resd6,resd7]
final_frames1 = pd.concat(frames1)
final_frames1

                  2000       2015
preterm      22.976471  23.085294
Intrapartum   9.272059   8.786765
Sepsis        3.208824   3.955882
Congenital   25.788235  26.273529
Pneumonia     6.583824   5.538235
Injury        7.602941   6.925000
Diarrhoea     2.302941   1.441176
Meningitis    1.905882   1.198529

In [184]:
final_frames1.plot(kind='barh', title='Deaths for under 5yrs of age for developed region in 2000 and 2015', rot=0, color=(['r','b']),
                  figsize=(11, 8), edgecolor='w', linewidth=2, width=0.7)
plt.ylabel('<------ Cause for deaths ------>', fontsize=14, color='m')
plt.xlabel('<------ Percentage aggregated values of deaths ------>', fontsize=14, color='m')
#plt.savefig("image.png")

#for i,v in final_frames1(2000):
#    plt.text(v +1, i+.75, str(v), color='black')
#plt.show()

# Divinding developing dataframe according to years (2000&2015)

# 2015

In [128]:
developing_2015 = developing_countries.reset_index(drop=True)
developing_2015 = developing_2015[:126]

In [129]:
Preterm_developing_2015 = developing_2015['Preterm']
Preterm_developing_2015 = Preterm_developing_2015.mean()

In [130]:
Intrapartum_developing_2015 = developing_2015['Intrapartum']
Intrapartum_developing_2015 = Intrapartum_developing_2015.mean()

In [131]:
Sepsis_developing_2015 = developing_2015['Sepsis']
Sepsis_developing_2015 = Sepsis_developing_2015.mean()

In [132]:
Congenital_developing_2015 = developing_2015['Congenital']
Congenital_developing_2015 = Congenital_developing_2015.mean()

In [133]:
Pneumonia_developing_2015 = developing_2015['Pneumonia']
Pneumonia_developing_2015 = Pneumonia_developing_2015.mean()

In [134]:
Injury_developing_2015 = developing_2015['Injury']
Injury_developing_2015 = Injury_developing_2015.mean()

In [135]:
Diarrhoea_developing_2015 = developing_2015['Diarrhoea']
Diarrhoea_developing_2015 = Diarrhoea_developing_2015.mean()

In [136]:
Meningitis_developing_2015 = developing_2015['Meningitis']
Meningitis_developing_2015 = Meningitis_developing_2015.mean()

# 2000

In [137]:
developing_2000 = developing_countries.reset_index(drop=True)
developing_2000 = developing_2000[126:]

In [138]:
Preterm_developing_2000 = developing_2000['Preterm']
Preterm_developing_2000 = Preterm_developing_2000.mean()

In [139]:
Intrapartum_developing_2000 = developing_2000['Intrapartum']
Intrapartum_developing_2000 = Intrapartum_developing_2000.mean()

In [140]:
Sepsis_developing_2000 = developing_2000['Sepsis']
Sepsis_developing_2000 = Sepsis_developing_2000.mean()

In [141]:
Congenital_developing_2000 = developing_2000['Congenital']
Congenital_developing_2000 = Congenital_developing_2000.mean()

In [142]:
Pneumonia_developing_2000 = developing_2000['Pneumonia']
Pneumonia_developing_2000 = Pneumonia_developing_2000.mean()

In [143]:
Injury_developing_2000 = developing_2000['Injury']
Injury_developing_2000 = Injury_developing_2000.mean()

In [144]:
Diarrhoea_developing_2000 = developing_2000['Diarrhoea']
Diarrhoea_developing_2000 = Diarrhoea_developing_2000.mean()

In [145]:
Meningitis_developing_2000 = developing_2000['Meningitis']
Meningitis_developing_2000 = Meningitis_developing_2000.mean()

# Creating dataframes for developing countries (2000&2015)

In [146]:
developing_countries_2000 = {'preterm':Preterm_developing_2000}
developing_countries_2015 = {'preterm':Preterm_developing_2015}
developing_d0 = pd.Series(developing_countries_2000)
developing_d0 = pd.DataFrame(developing_d0)
developing_d0.columns=['2000']
developing_d00 = pd.Series(developing_countries_2015)
developing_d00 = pd.DataFrame(developing_d00)
developing_d00.columns = ['2015']
resdg0 = pd.concat([developing_d0, developing_d00], axis=1, join_axes=[developing_d0.index])
resdg0

              2000       2015
preterm  17.414286  18.894444

In [147]:
developing_countries_2000 = {'Intrapartum':Intrapartum_developing_2000}
developing_countries_2015 = {'Intrapartum':Intrapartum_developing_2015}
developing_d1 = pd.Series(developing_countries_2000)
developing_d1 = pd.DataFrame(developing_d1)
developing_d1.columns=['2000']
developing_d11 = pd.Series(developing_countries_2015)
developing_d11 = pd.DataFrame(developing_d11)
developing_d11.columns = ['2015']
resdg1 = pd.concat([developing_d1, developing_d11], axis=1, join_axes=[developing_d1.index])
resdg1

                  2000       2015
Intrapartum  10.005556  10.961905

In [148]:
developing_countries_2000 = {'Sepsis':Sepsis_developing_2000}
developing_countries_2015 = {'Sepsis':Sepsis_developing_2015}
developing_d2 = pd.Series(developing_countries_2000)
developing_d2 = pd.DataFrame(developing_d2)
developing_d2.columns=['2000']
developing_d22 = pd.Series(developing_countries_2015)
developing_d22 = pd.DataFrame(developing_d22)
developing_d22.columns = ['2015']
resdg2 = pd.concat([developing_d2, developing_d22], axis=1, join_axes=[developing_d2.index])
resdg2

            2000      2015
Sepsis  5.007937  6.166667

In [149]:
developing_countries_2000 = {'Congenital':Congenital_developing_2000}
developing_countries_2015 = {'Congenital':Congenital_developing_2015}
developing_d3 = pd.Series(developing_countries_2000)
developing_d3 = pd.DataFrame(developing_d3)
developing_d3.columns=['2000']
developing_d33 = pd.Series(developing_countries_2015)
developing_d33 = pd.DataFrame(developing_d33)
developing_d33.columns = ['2015']
resdg3 = pd.concat([developing_d3, developing_d33], axis=1, join_axes=[developing_d3.index])
resdg3

                 2000      2015
Congenital  10.869841  15.06746

In [150]:
developing_countries_2000 = {'Pneumonia':Pneumonia_developing_2000}
developing_countries_2015 = {'Pneumonia':Pneumonia_developing_2015}
developing_d4 = pd.Series(developing_countries_2000)
developing_d4 = pd.DataFrame(developing_d4)
developing_d4.columns=['2000']
developing_d44 = pd.Series(developing_countries_2015)
developing_d44 = pd.DataFrame(developing_d44)
developing_d44.columns = ['2015']
resdg4 = pd.concat([developing_d4, developing_d44], axis=1, join_axes=[developing_d4.index])
resdg4

                2000       2015
Pneumonia  15.336508  13.174603

In [151]:
developing_countries_2000 = {'Injury':Injury_developing_2000}
developing_countries_2015 = {'Injury':Injury_developing_2015}
developing_d5 = pd.Series(developing_countries_2000)
developing_d5 = pd.DataFrame(developing_d5)
developing_d5.columns=['2000']
developing_d55 = pd.Series(developing_countries_2015)
developing_d55 = pd.DataFrame(developing_d55)
developing_d55.columns = ['2015']
resdg5 = pd.concat([developing_d5, developing_d55], axis=1, join_axes=[developing_d5.index])
resdg5

            2000      2015
Injury  5.307937  6.892063

In [152]:
developing_countries_2000 = {'Diarrhoea':Diarrhoea_developing_2000}
developing_countries_2015 = {'Diarrhoea':Diarrhoea_developing_2015}
developing_d6 = pd.Series(developing_countries_2000)
developing_d6 = pd.DataFrame(developing_d6)
developing_d6.columns=['2000']
developing_d66 = pd.Series(developing_countries_2015)
developing_d66 = pd.DataFrame(developing_d66)
developing_d66.columns = ['2015']
resdg6 = pd.concat([developing_d6, developing_d66], axis=1, join_axes=[developing_d6.index])
resdg6

               2000      2015
Diarrhoea  9.390476  6.109524

In [153]:
developing_countries_2000 = {'Meningitis':Meningitis_developing_2000}
developing_countries_2015 = {'Meningitis':Meningitis_developing_2015}
developing_d7 = pd.Series(developing_countries_2000)
developing_d7 = pd.DataFrame(developing_d7)
developing_d7.columns=['2000']
developing_d77 = pd.Series(developing_countries_2015)
developing_d77 = pd.DataFrame(developing_d77)
developing_d77.columns = ['2015']
resdg7 = pd.concat([developing_d7, developing_d77], axis=1, join_axes=[developing_d7.index])
resdg7

                2000      2015
Meningitis  2.330952  1.547619

In [154]:
frames2 = [resdg0,resdg1,resdg2,resdg3,resdg4,resdg5,resdg6,resdg7]
final_frames2 = pd.concat(frames2)
final_frames2

                  2000       2015
preterm      17.414286  18.894444
Intrapartum  10.005556  10.961905
Sepsis        5.007937   6.166667
Congenital   10.869841  15.067460
Pneumonia    15.336508  13.174603
Injury        5.307937   6.892063
Diarrhoea     9.390476   6.109524
Meningitis    2.330952   1.547619

In [155]:
#get_ipython().magic('matplotlib nbagg')
#developing2000 = list(final_frames2['2000'])
#final_frames2_index = list(final_frames2.index)
#colors = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue','sage', 'tan', 'plum', 'gainsboro']
#explode = (0, 0, 0, 0, 0, 0, 0, 0)  
#plt.pie(developing2000, explode=explode, labels=final_frames2_index, colors=colors,
#        autopct='%1.1f%%', shadow=True, startangle=360)
#plt.axis('equal')
#plt.title("For developing region in the year 2000", y=1.08)
#plt.show()

In [156]:
#get_ipython().magic('matplotlib nbagg')
#final_frames2_index = list(final_frames2.index)
#developing2015 = list(final_frames2['2015'])
#colors = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue','sage', 'tan', 'plum', 'gainsboro']
#explode = (0.1, 0, 0.1, 0.1, 0, 0.1, 0, 0)  
#plt.pie(developing2015, explode=explode, labels=final_frames2_index, colors=colors,
#        autopct='%1.1f%%', shadow=True, startangle=360)
#plt.axis('equal')
#plt.title("For developing region in the year 2015", y=1.08)
#plt.show()

# ----------------New_born_first_month-------------------

In [157]:
list(new_born_first_month)

['ISO_Code',
 'CountryName',
 'Year',
 'Pneumonia .1',
 'Preterm ',
 'Intrapartum ',
 'Sepis ',
 'Tetanus ',
 'Congenital ',
 'Diarrheoea ']

# Extracting top 30 countries (2015)

# Preterm

In [158]:
new_born_first_month_Preterm = new_born_first_month[:194]
new_born_first_month_Preterm = new_born_first_month_Preterm[['CountryName','Preterm ']]
new_born_first_month_Preterm = new_born_first_month_Preterm.sort_values(by='Preterm ', ascending=False)
new_born_first_month_Preterm = new_born_first_month_Preterm[:30].reset_index(drop=True)
new_born_first_month_Preterm.to_csv('Preterm_top30.csv')
#new_born_first_month_Preterm

# Intrapartum

In [159]:
new_born_first_month_Intrapartum = new_born_first_month[:194]
new_born_first_month_Intrapartum = new_born_first_month_Intrapartum[['CountryName','Intrapartum ']]
new_born_first_month_Intrapartum = new_born_first_month_Intrapartum.sort_values(by='Intrapartum ', ascending=False)
new_born_first_month_Intrapartum = new_born_first_month_Intrapartum[:30].reset_index(drop=True)
new_born_first_month_Intrapartum.to_csv('Intrapartum_top30.csv')
#new_born_first_month_Intrapartum

# Sepsis

In [160]:
new_born_first_month_Sepsis = new_born_first_month[:194]
new_born_first_month_Sepsis = new_born_first_month_Sepsis[['CountryName','Sepis ']]
new_born_first_month_Sepsis = new_born_first_month_Sepsis.sort_values(by='Sepis ', ascending=False)
new_born_first_month_Sepsis = new_born_first_month_Sepsis[:30].reset_index(drop=True)
new_born_first_month_Sepsis.to_csv('Sepsis_top30.csv')
#new_born_first_month_Sepsis

# Congenital

In [161]:
new_born_first_month_Congenital = new_born_first_month[:194]
new_born_first_month_Congenital = new_born_first_month_Congenital[['CountryName','Congenital ']]
new_born_first_month_Congenital = new_born_first_month_Congenital.sort_values(by='Congenital ', ascending=False)
new_born_first_month_Congenital = new_born_first_month_Congenital[:30].reset_index(drop=True)
new_born_first_month_Congenital.to_csv('Congenital_top30.csv')
#new_born_first_month_Congenital

# Analysis over Asia country

In [162]:
asian_countries = pd.read_csv('Asia_Country_list.csv')
#asian_countries

In [163]:
asian_countries['Country'] = asian_countries['Countries  ']
asia = pd.DataFrame(asian_countries['Country'])
#asia

In [164]:
remove_spaces = [x.strip().replace(' ', ' ') for x in asia.Country]
remove_spaces = pd.DataFrame(remove_spaces)
formated = remove_spaces.rename(columns={0:"Country"})
column_names = list(formated.Country)

In [165]:
major_diseases = under_five[['ISO_Code','CountryName','Preterm','Intrapartum','Sepsis','Congenital','Pneumonia']][:194]
major_diseases1 = major_diseases.loc[major_diseases['CountryName'].isin(column_names)]
major_disease = major_diseases1.reset_index(drop=True)
#major_disease.to_csv('List_Asian_Countries_With_Cause_For_Deaths.csv')
major_disease.mean()

Preterm        21.280952
Intrapartum    10.030952
Sepsis          5.233333
Congenital     20.402381
Pneumonia      11.054762
dtype: float64

In [166]:
asian_countries_preterm = major_disease[['CountryName','ISO_Code','Preterm']]
asian_countries_preterm.to_csv('asia_preterm.csv')

# Analysis over Europe country

In [167]:
european_countries = pd.read_csv('European_country_list.csv')
european_countries['Country'] = european_countries['Country ']
european_countries = pd.DataFrame(european_countries['Country'])
#european_countries
#column_names1 = list(european_countries.Country)

In [168]:
remove_spaces1 = [x.strip().replace(' ', ' ') for x in european_countries.Country]
remove_spaces1 = pd.DataFrame(remove_spaces1)
formated1 = remove_spaces1.rename(columns={0:"Country"})
column_names1 = list(formated1.Country)

In [169]:
europe_major_diseases = under_five[['ISO_Code','CountryName','Preterm','Intrapartum','Sepsis','Congenital','Pneumonia']][:194]
european_major_diseases1 = europe_major_diseases.loc[europe_major_diseases['CountryName'].isin(column_names1)]
european_major_disease = european_major_diseases1.reset_index(drop=True)
european_major_disease.mean()

Preterm        25.26875
Intrapartum     8.52500
Sepsis          3.28750
Congenital     29.75625
Pneumonia       5.00625
dtype: float64

In [170]:
european_countries_congenital = european_major_disease[['CountryName','ISO_Code','Congenital']]
european_countries_congenital.to_csv('europe_congenital.csv')

# Analysis over African Country

In [171]:
african_countries = pd.read_csv('african_country_list.csv')
african_countries['Country'] = african_countries['Country    ']
african_countries = pd.DataFrame(african_countries['Country'])
#africanan_countries

In [172]:
remove_spaces2 = [x.strip().replace(' ', ' ') for x in african_countries.Country]
remove_spaces2 = pd.DataFrame(remove_spaces2)
formated2 = remove_spaces2.rename(columns={0:"Country"})
column_names2 = list(formated2.Country)

In [173]:
africa_major_diseases = under_five[['ISO_Code','CountryName','Preterm','Intrapartum','Sepsis','Congenital','Pneumonia']][:194]
africa_major_diseases1 = africa_major_diseases.loc[africa_major_diseases['CountryName'].isin(column_names2)]
africa_major_disease = africa_major_diseases1.reset_index(drop=True)
africa_major_disease.mean()

Preterm        14.716
Intrapartum    11.420
Sepsis          6.508
Congenital      9.010
Pneumonia      15.140
dtype: float64

In [174]:
african_countries_congenital = africa_major_disease[['CountryName','ISO_Code','Pneumonia']]
african_countries_congenital.to_csv('africa_pneumonia.csv')

# Analysis over north America country

In [175]:
north_america_countries = pd.read_csv('north_america_country_list.csv')
column_names3 = list(north_america_countries.Country)

In [176]:
north_america_major_diseases = under_five[['ISO_Code','CountryName','Preterm','Intrapartum','Sepsis','Congenital','Pneumonia']][:194]
north_america_major_diseases1 = north_america_major_diseases.loc[north_america_major_diseases['CountryName'].isin(column_names3)]
north_america_major_disease = north_america_major_diseases1.reset_index(drop=True)
north_america_major_disease.mean()

Preterm        23.382609
Intrapartum     9.486957
Sepsis          5.352174
Congenital     22.313043
Pneumonia       8.217391
dtype: float64

In [177]:
north_america_countries_preterm = north_america_major_disease[['CountryName','ISO_Code','Preterm']]
north_america_countries_preterm.to_csv('north_america_preterm.csv')

# Analysis over south America country

In [178]:
south_america_countries = pd.read_csv('south_america_country_list.csv')
column_names4 = list(south_america_countries.Country)

In [179]:
south_america_major_diseases = under_five[['ISO_Code','CountryName','Preterm','Intrapartum','Sepsis','Congenital','Pneumonia']][:194]
south_america_major_diseases1 = south_america_major_diseases.loc[south_america_major_diseases['CountryName'].isin(column_names4)]
south_america_major_disease = south_america_major_diseases1.reset_index(drop=True)
south_america_major_disease.mean()

Preterm        21.961538
Intrapartum     8.407692
Sepsis          6.384615
Congenital     23.223077
Pneumonia       9.000000
dtype: float64

In [180]:
south_america_countries_congenital = south_america_major_disease[['CountryName','ISO_Code','Congenital']]
south_america_countries_congenital.to_csv('south_america_congenital.csv')